@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

/* Background */

body {
  background-color: rgb(77, 77, 77);
  color: crimson;
}

/* Links */

a:any-link {
  color: currentColor;
  text-decoration: none;
}

/* Headings and Larger fonts */

div#containerBanner {
  background-color: rgb(28, 28, 28);
  color: crimson;
}

#head,
#subhead,
h3,
p,
.scream,
.screamPage {
  text-align: center;
  margin: 0 auto;
}

h1#head {
  font: 180px "Rubik Wet Paint", sans-serif;
  line-height: 400px;
}

h2#subhead {
  font: 40px "Rubik Wet Paint", sans-serif;
}

h3 {
  font: 80px "Jolly Lodger", sans-serif;
}

.scream {
  font: 70px "Rubik Wet Paint", sans-serif;
}

#head,
#subhead,
.scream,
.screamPage,
h3 {
  text-shadow: 2px 2px 5px #fff;
}

/* Smaller Headings and Paragraphs */

p {
  text-shadow: 0 0 5px rgb(28, 28, 28, 10);
}

h3 {
  font: 80px "Jolly Lodger", sans-serif;
}

p {
  font: 30px "Jolly Lodger", sans-serif;
}

h3.index {
  margin: 20px 10% 20px 10%;
}

p.index {
  margin: 20px 20% 20px 20%;
}

p.pageDescription {
  margin: 0 10%;
}

p.textPage {
  margin: 20px 10% 20px 10%;
  columns: 2;
  text-align: center;
}

/* Tables and Buttons */

#bannerTable,
#mainTable {
  table-layout: fixed;
  border-spacing: 20px;
  margin: 0 auto;
  text-align: center;
}

#bannerTable {
  padding: 0px;
}

#mainTable {
  width: 90%;
}

.button {
  font: 45px "Lacquer", sans-serif;
  color: rgb(28, 28, 28);
  background-image: linear-gradient(rgb(200, 200, 200), rgb(100, 100, 100));
  border-radius: 20px;
}

td.tableButton {
  font-size: 40px;
  padding: 3px;
}

.linkButton:hover {
  color: rgb(40, 40, 40);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(100, 100, 100));
  border-radius: 20px;
}

/* Scream Level */

.button > span.screamLevel,
a > span.screamLevel {
  font: 20px "Eater", sans-serif;
}

div.screamPage {
  font: 32px "Eater", sans-serif;
}

/* images */

.imageCentered {
  display: block;
  margin: 0 auto;
}

.screamingGoat {
  margin: 20px auto;
  border: solid 1px rgb(28, 28, 28);
  border-radius: 400px;
}

.resized {
  width: 500px;
  height: auto;
}
